{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block header_title %}Chat Room{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">

            <div class="card-header bg-dark text-white text-center">
                <h4 class="mb-0" id="room-name-display">{{ room_name }}</h4>
            </div>

            <div id="chat-window" class="card-body bg-light d-flex flex-column" style="min-height: 400px;">
                <div id="chat-log" class="d-flex flex-column mt-auto">
                </div>
            </div>

            <div class="card-footer bg-white">
                <div class="input-group">
                    <input id="chat-message-input" type="text" class="form-control" placeholder="Type your message..." autocomplete="off" autofocus>
                    <button id="chat-message-submit" class="btn btn-primary" type="button">Send</button>
                </div>
            </div>

        </div>
    </div>
</div>

{{ room_name|json_script:"room-name" }}
{{ user.username|json_script:"user-username" }}

{% endblock %}

{% block scripts %}
    <script src="{% static 'chat/js/chat_room.js' %}"></script>
{% endblock %}
